<div class="container">
    <h2>ToDo List</h2>
    <div class="form-group m-3">
        <input 
             type="text" 
             class="form-control" 
             [(ngModel)]="todoitem"
             placeholder="Enter ToDo List Item" 
             (change)="AddList()"
             >
    </div>
    <ul class="list-group">
        <li @fade class="list-group-item" 
                    *ngFor="let todo of allToDo" 
                    (click)="removelist(todo)">
           {{todo }} 
        </li>
        
    </ul>
</div>
