

<div class="container">
    <h2 [ngStyle]="{'font-size-px':30}"> Student details from Server</h2>
    <button type="button" class="btn btn-success m-3" (click)="addStudent()">Add Student</button>
    <table class="table table-striped">
        <thead class="table-dark text-white">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>TotalMarks</th>
                <th>Dob</th>
                <th>Gender</th>
                <th>Delete</th>
                <th>Edit</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let stud of allStud" >
                <td>{{stud.id}}</td>
                <td>{{stud.studName  }}</td>
                <td>{{stud.studTotalMarks }}</td>
                <td>{{stud.studDob}} </td>    
                <td>{{stud.studGender}}</td>
              <td><button type="button" class="btn btn-danger" 
                (click)="deleteStudent(stud.id)">Remove</button></td>
                <td><button type="button" class="btn btn-primary" 
                    (click)="editStudent(stud.id)">Edit</button></td>
                <td><button type="button" class="btn btn-warning" 
                    (click)="viewStudent(stud.id)">View</button></td>
            </tr>
        </tbody>
    </table>
   
</div>

