

<!--<app-header></app-header>-->
<app-navigate></app-navigate>
<!--<app-display></app-display>-->
<app-color></app-color>

<!--
ng new angularapp
ng generate component display
or
ng g c display

-->








<!--<app-counter></app-counter>-->
<!--<app-footer></app-footer>
<div class="container mt-3">
    <h2>Spinners</h2>
    <p>To create a spinner/loader, use the <code>.spinner-border</code> class:</p>
                                          
    <div class="spinner-border"></div>
  </div>-->