<!--<app-header></app-header>
<app-navigate></app-navigate>
<app-display></app-display>-->
<!--<app-color></app-color>
<app-color-child></app-color-child>
<app-stud-list></app-stud-list>-->
<!--<app-counter></app-counter>-->
<!--<app-footer></app-footer>-->
<!--<app-number-list></app-number-list>
<app-todo-animations></app-todo-animations>
<app-student-details></app-student-details>
<app-student-marks></app-student-marks>
<app-stud-list></app-stud-list>
<app-student-list-http></app-student-list-http>-->
<app-header></app-header>
<router-outlet></router-outlet>
