<p>String interpolation code</p>
<h1> {{flowerName}} displayed through string interpolation</h1>

<p>Property Binding</p>
<input type="text" [value]="flowerName" />

<p>Event Binding code</p>
<button class="btn btn-primary" (click)="changeName()" type="button">changeFlower</button>

<p>Two way Data Binding</p>
<button type="button" class="btn btn-success" (click)="increment()">+</button>
<input type="number" [(ngModel)]="counter" />
<button type="button" class="btn btn-danger" (click)="decrement()">-</button>

<button type="button" (click)="glow()">On</button>
<img [src]="imgpath" height="100px" width="100px">
<button type="button" (click)="switchoff()">Off</button>







<!--<h1>Push Ups </h1>
<img src="/assets/workout.webp" class="rounded-circle mx-auto d-block" height="150" width="150"/>

-->